name: Template - OpenTofu Plan and Apply

on:
  workflow_call:
    inputs:
      deployment_environment:
        required: true
        type: string
      destroy:
        required: false
        type: boolean
        default: false
      opentofu_version:
        type: string
        default: "1.11.0"

jobs:
  execute:
    name: Execute
    runs-on: ubuntu-latest
    environment: ${{ inputs.deployment_environment }}
    env:
      ARM_CLIENT_ID: ${{ vars.AZURE_CLIENT_ID }}
      ARM_SUBSCRIPTION_ID: ${{ vars.AZURE_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ vars.AZURE_TENANT_ID }}
      ARM_USE_AZUREAD: true
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      
      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ env.ARM_CLIENT_ID }}
          tenant-id: ${{ env.ARM_TENANT_ID }}
          subscription-id: ${{ env.ARM_SUBSCRIPTION_ID }}

      - name: Install OpenTofu ${{ inputs.opentofu_version }}
        uses: opentofu/setup-opentofu@v1
        with:
          tofu_version: ${{ inputs.opentofu_version }}
